<app-header></app-header>
<div class="container">
    <!-- <div class="inner-container"> -->
        <h3>Demande de réinitialisation mot de passe</h3>
        <p>Veuillez entrer votre mail pour que l'on puisse vous envoyer un lien de réinitialisation de mot de passe s'il vous plaît</p>
        <form [formGroup]="emailForm"  (ngSubmit)="submit()">
            <text-input
                [control]="fc.email"
                [showErrorsWhen]="isSubmitted"
                label="Email">
            </text-input>
        <app-default-button text="Envoyer"></app-default-button>
        </form>
    <!-- </div> -->
    
    
</div>
