form{
    width: auto;
    max-width: 1080px;
    margin: 0 30%;
}
a {
    text-decoration: none;
    color: blue;
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.details{
    margin: auto 30%;
}
.container{
    height: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-content: center; */
}
p{
    text-align: center;
}
text-input{
    width: 60%;
}