<app-header></app-header>
<div class="container">
    <div class="details">
        <h3>Nouveau mot de passe</h3>
        <form [formGroup]="resetPasswordFrom" (ngSubmit)="submit()">
            <div class="row">
                <app-password-input
                    [control]="fc.userPassword"
                    [showErrorsWhen]="isSubmitted"
                    label="Mot de passe">
                </app-password-input>
                <app-password-input
                    [control]="fc.confirmPassword"
                    [showErrorsWhen]="isSubmitted"
                    label="Confirmation mot de passe">
                </app-password-input>
            </div>    
            <!-- <div style="display: flex;justify-content: center;"><a routerlink="" style="margin: auto;">Mot de passe oublié?</a></div> -->
            <div class="buttonContainer">
                <app-default-button text="Valider" type="submit"></app-default-button>
                <!-- <app-default-button text="Register" routerLink="/register" type="button"></app-default-button> -->
            </div>
        </form>
    </div>
</div>