form{
    width: auto;
    max-width: 1080px;
    margin: auto;
    margin-top: 20px;
}
a {
    text-decoration: none;
    color: blue;
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.details{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    align-items: center;
    padding: auto 20px;
}
.container{
    height: 100%;
    display: flex;
    justify-content: center;
}
text-input, app-password-input{
    width:100%;
}
/* div.border-title{
    flex-grow: 1;
} */
/* .logo{
    flex-grow: 2;
} */
.buttonContainer{
    width: 100%;
    margin-bottom: 20px;
 }
 .border-title{
    width: 25%;
 }
 .title-border{
    font-size:x-large;
    margin-top: -2.5rem;
 }