form{
    width: auto;
    max-width: 1080px;
    margin: auto;
}
a {
    text-decoration: none;
    color: blue;
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.details{
    margin: auto ;
}
.container{
    height: 100%;
    display: flex;
    
}