
<input-container [label]="label" [style.fontSize.px]="10">
    <mat-form-field appearance="outline">
        <mat-label >{{ label }}</mat-label>
        <input  matInput [placeholder]="label" [formControl]="formControl" [type]="passwordVisible ? 'text':'password'"/>
        <button mat-icon-button matsuffix (click)="passwordVisible = !passwordVisible" style="background: none;color:black;position:absolute;top:3px;right: 0px;" type="button">
            <mat-icon> {{passwordVisible ? 'visibility' : 'visibility_off'}} </mat-icon>
        </button>
        <input-validation
            [control]="control"
            [showErrorsWhen]="showErrorsWhen">
        </input-validation>
    </mat-form-field>
</input-container>