.mat-mdc-form-field{
    font-size: 1.2rem;
    min-height: 10px;
    padding:0px;
}
.mat-mdc-form-field mat-label{
    font-size: 1.2rem;
}
.mat-mdc-form-field-infix{
    height: 15px;
    min-height: 10px;
    padding:0px;
}
.mdc-text-field--outlined{
    padding: 0;
}