.main-content{
    max-width: 1280px;
    width: 50%;
    margin: 10px auto;
    padding: 15px;
    
}
.profile-entete{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}
.image-profile-container img{
    float: left;
    width: 150px;
    height: 150px;
}
.body-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}
app-profile-item{
    width: 100%;
}
.no-background{
    background: none;
}
.file-input{
    display: none;
}