<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="image-container">
            <img class=mainImage src="{{imageDisplayed}}"/>
            <div class="row">
                @for (image of productImage; track $index) {
                    <button class="imageSelection" (click)="selectImage(image)">
                        <img [src]="image" height="150px" width="150px"><br>
                    </button>
                }
            </div>
        </div>
        <div class="content-container">
            @if (theProduct) {
                <p>Code CPC : <span>{{theProduct.codeCPC}}</span></p>
                <p>Categorie : <span>{{ theProduct.productCategory}}</span></p>
                <p>Désignation : <span>{{theProduct.productName}}</span></p>
                <mat-tab-group class="tabs">
                <mat-tab label="Description"> {{theProduct.productDescription}} </mat-tab>
                <mat-tab label="Caractéristique"> 
                <div class="caracteristique-wrapper">
                    <p class="poids"> Poids : {{theProduct.productPoids}} kg</p>
                    <p class="volume">Volume : {{theProduct.productVolume}} </p>
                    <p class="longueur"> Longueur : {{theProduct.productLongeur}}</p>
                    <p class="largeur">Largeur : {{theProduct.productLargeur}} </p>
                    <p class="hauteur"> Hauteur : {{theProduct.productHauteur}}</p>

                </div>
            </mat-tab>
        </mat-tab-group> 
            }
            <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
        </div>
    </div>
    @if (userDepotList) {
        <table style="margin : 0px;">
            <tr>
                <td>Site</td>
                <td>Stock</td>
                <td>Prix</td>
                <td>Valeur Totale</td>
                <td>Actions</td>
            </tr>
        @for (site of depotItemData; track $index) {
            <tr>
                <td>{{ site.site }}</td>
                <td> {{site.stock}} </td>
                <td> {{site.price}} </td>
                <td> @if(site.stock !=0){ {{site.total}} }@else{0} </td>
                <td> @if(site.stock != 0){<button (click)="deleteDepotItem(site.depotItemId)"> <mat-icon>delete</mat-icon> </button> } </td>
            </tr>
            }
        </table>
    }
    @if (currentStock && currentStock.length > 0) {
        <h2>Informations de stock</h2>
        @for (depotItem of currentStock; track $index) {
            <div class="row">
                <table>
                    <tr>
                        <td>Stock : </td>
                        <td> {{ depotItem.stock }} </td>
                    </tr>
                    <tr>
                        <td>Prix unitaire : </td>
                        <td> {{ depotItem.prix }} </td>
                    </tr>
                    <tr>
                        <td>Depot : </td>
                        <td> {{ depotItem.currentDepotId }} </td>
                    </tr>
                </table>
            </div>
        }
    }
    
    <div class="row">
        @if (userAccess == 'Admin') {
            <app-default-button (click)="validateProduct(theProduct._id)" text="Approuver"></app-default-button>
        }
        @if (theProduct && theProduct.productOwnerId == currentuser.userId ) {
            <app-default-button (click)="stockerDansDepot(theProduct._id)" text="Ajouter à un dépôt"></app-default-button>
        }@else {
            <app-default-button (click)="stockerDansDepot(theProduct._id)" text="Acheter"></app-default-button>
        }
        <app-default-button (click)="back()" text="Retour"></app-default-button>
    </div>
</div>

