<app-header></app-header>
<div class="container">
    <div class="inner-container">
        <h1>Notifications</h1>
        @for (notification of notifications; track $index) {
            <!-- <button mat-menu-item style="text-decoration: none;background: none;" (click)="openNotificationDialog(notification.title,notification.message,null,false,notification._id)"> -->
                <span class="notif-title">{{ notification.title }}@if (notification.states == "new") {<span class="new">new</span>  }</span><br>
                <span class="notif-text">{{ notification.message}}</span>                                        
            <!-- </button> -->
        }
    </div>
</div>
