ul{
    width: 70%;
}
li{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
button{
    width: fit-content;
    margin: 0;
}
.content{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.left-side{
    width: 60%;

}
.right-side{
    width: 40%;
}
td img{
    max-width: 50px;
}
.depot-infos td,tr{
    border:none;
}
.totalArea{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.imageSelection{
    background: none;
}
button img{
    object-fit: cover;
}
.imageSelection-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(245, 245, 245);
    border:1px solid rgb(216, 216, 216);
    border-radius: 30px;
}
img.apercu{
    max-width: 100%;
    height: 30vh;
}
.row{
    display: flex;
    flex-direction: row;
}
.image-container {
    width: 100%;
}
.details-container{
    width: 100%;
    padding : 20px;
}
