<div class="container">
    <div class="details">
        <h3>Authentification</h3>
        <form [formGroup]="forgotPwdForm" (ngSubmit)="submit()">
            <text-input
            [control]="fc['email']"
            [showErrorsWhen]="isSubmitted"
            label="Email">
            </text-input>
            <!-- <div style="display: flex;justify-content: center;"><a (click)="requestResetPassord()" style="margin: auto;">Mot de passe oublié?</a></div> -->
            <div class="buttonContainer">
                <app-default-button text="Envoyer un lien" type="submit"></app-default-button>
                <!-- <app-default-button text="Register" routerLink="/register" type="button"></app-default-button> -->
            </div>
        </form>
    </div>
</div>