<app-side-bar></app-side-bar>
<div  *ngIf="theUser" class="container">
    <div class="main-content">
        <div class="profile-entete">
            <div class="image-profile-container">
                <ngx-avatars size="100" [src]="profileImage"></ngx-avatars>
            </div>
            <div class="client-name">
                <h3 >ID : {{theUser.userId}} </h3>
                <h1 >Profil de : {{theUser.userFirstname}} {{theUser.userName}} </h1>
                <h3 >Solde : {{theUser.userTotalSolde}} </h3>
            </div>  
        </div>
        <div *ngIf="!isEntreprise" class="body-content">
            <app-profile-item label="Email" value="{{theUser.userEmail}}"></app-profile-item>
            <app-profile-item label="Téléphone" value="{{theUser.userPhone}}"></app-profile-item>
            <app-profile-item label="Adresse" value="{{theUser.userAddress}}"></app-profile-item>
            <app-profile-item label="Coordonnée principale" value="{{theUser.userMainLat}} - {{theUser.userMainLng}}"></app-profile-item>
            <app-profile-item [label]="theUser.documentType" value="{{theUser.identityCardNumber}}"></app-profile-item>
            <app-profile-item label="Type" value="{{theUser.userType}}"></app-profile-item>
            <!-- <img height="100px" *ngIf="theUser.identityDocument" [src]="documentFile"> -->
             <div *ngIf="!documentIncomplet" class="documentFile">
                 Document d'identification : 
                 <button>
                     <a [href]="this.downloadLink1" [download]="downloadableName1"> <img height="100" [src]="theUser.identityDocument[0]" ></a>                 
                 </button>
                 <button>
                     <a [href]="this.downloadLink2" [download]="downloadableName2"> <img height="100" [src]="theUser.identityDocument[1]" ></a>                 
                 </button>
             </div>
             <div *ngIf="documentIncomplet">
                <p>Document d'identification incomplet</p>
             </div>
        </div>
        <div *ngIf="isEntreprise" class="body-content">
            <app-profile-item label="Raison sociale" value="{{theUser.raisonSocial}}"></app-profile-item>
            <app-profile-item label="Email" value="{{theUser.userEmail}}"></app-profile-item>
            <app-profile-item label="Téléphone" value="{{theUser.userPhone}}"></app-profile-item>
            <app-profile-item label="Adresse" value="{{theUser.userAddress}}"></app-profile-item>
            <app-profile-item label="Coordonnée principale" value="Lat : {{theUser.userMainLat}} - Long : {{theUser.userMainLng}}"></app-profile-item>
            <app-profile-item label="Manager" value="{{theUser.managerName}}"></app-profile-item>
            <app-profile-item label="Email du manager" value="{{theUser.managerEmail}}"></app-profile-item>
            <app-profile-item label="Type" value="{{theUser.userType}}"></app-profile-item>
            <app-profile-item label="RCS" value="{{theUser.rcs}}"></app-profile-item>
            <app-profile-item label="NIF" value="{{theUser.nif}}"></app-profile-item>
            <app-profile-item label="Statut" value="{{theUser.type}}"></app-profile-item>
            <!-- <app-profile-item label="Carte Fiscale" value="{{theUser.carteFiscal}}"></app-profile-item>            -->
             Document d'identification : 
             <button>
                 <a [href]="this.downloadLink1" [download]="downloadableName1"> <img height="100" [src]="theUser.carteFiscal[0]" ></a>
             </button>
             <button>
                 <a [href]="this.downloadLink2" [download]="downloadableName2"> <img height="100" [src]="theUser.carteFiscal[1]" ></a>                 
             </button>
        </div>
            <button *ngIf="!theUser.userValidated" (click)="ValidateRegistration()">Approuver l'inscription</button>
    </div>
</div>