header{
    background: white;
    padding: 0;
    border-bottom: 1px solid rgba(24, 119, 242);
    box-shadow : 0px 2px 5px #bdbdbd;
}
.header-top{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header-menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(40, 40, 68);
    color:white;
}
nav{
    margin-right: 10%;
}

nav a{
    font-size: large;
}
.header-menu a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    /* text-transform: uppercase; */
}
.right-nav a{
    color: rgb(108, 146, 253);
    text-decoration: none;
    /* text-transform: uppercase; */
}
/* a:hover, button a:hover{
    background: rgb(99, 99, 99);
    color: white;
    cursor:pointer;
    text-decoration: none;
} */
mat-menu a:hover, mat-menu button a:hover{
    background: rgb(99, 99, 99);
    color: rgb(0, 0, 0);
    cursor:pointer;
    text-decoration: none;
}
.logout-btn:hover{
    color:black;
}
mat-menu a{
    font-size: large;
}

.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

a.logo{
    font-weight: bold;
    padding: 1rem;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    /* height: 70px; */
}
ul a{
    padding: 1rem;
    display: inline-block;
}
a span {
    background: rgba(24, 119, 242);
    color:rgb(0, 0, 0);
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    /* font-size:.9rem; */
}
.menu-container{
    width: 185px;
    position: relative;
}
.menu{
    position:absolute;
    z-index: 1;
    background: whitesmoke;
    display: none;
}
.menu-container:hover .menu{
    display: block;
    margin-right: 90%;
}

/* .menu a {
    width: 100%;
    min-width: 8rem;
    color:blue;
} */
.menu a:hover {
    width: 100%;
    min-width: 8rem;
    color:white;
}
.profil-btn{
    align-items: center;
    text-align: right;
    border-radius: 50%;
    width: min-content;
}
button{
    width: 100%;
    background: none;
}
button:hover{
    background-color: #bdbdbd;
    color: white;
}
mat-menu{
    width: 5rem;
}
button{
    color:rgb(108, 146, 253);    
}
.material-icons{
    font-size: 22px;
}
.notif-title{
    color: rgb(108, 146, 253);
    font-size: small;
}
.notif-text{
    color: rgb(0, 0, 0);
    font-size: x-small;
}
.new{
    border-radius: 50%;
    background-color: rgb(153, 0, 0);
    color: white;
    font-size: xx-small;
    position: absolute;
    padding: 0px 3px;
}