.container{
    /* position: relative; */
    /* margin-bottom: 1.5rem; */
    /* border-radius: 0.7rem; */
    /* padding-top: 0.3rem; */
    /* border:1px solid #e0e0e0; */
    font-size:11px;
    /* margin:15px; */
    width: 100%;
}

/* label{
    display:inline-block;
    margin-left:0.5rem;
    font-size:1rem;
    color:#5f5f5f;
    font-size:1rem;
} */
/* 
.content{
    padding:0 0.5rem;
    /* height: 1.2rem; */
    /* display:block;
    align-items:center;
    
} */