<mat-form-field appearance="outline">
    <!-- <mat-form-field > -->
    <!-- <input class="search" #s type="text" placeholder="Rechercher" (keyup)="search(s.value)" [value]="searchTerm"/>
    <button (click)="search(s.value)">Search</button>
    <p class="input-guide">Veuillez entrer au moins 3 caractères pour effectuer la recherche</p> -->
    <!-- <mat-label>Fill form field</mat-label> -->
    <input matInput placeholder="produits,services,...">
    <mat-icon matSuffix>search</mat-icon>
    <mat-hint>Entrer le nom d'un produit ou d'un service,...</mat-hint>
</mat-form-field>
