.page-container {
  max-width: 1400px;
  margin: auto;
  padding: 24px;
}

/* Titre */
.section-title h2 {
  font-weight: 600;
  padding-left: 12px;
  margin-bottom: 24px;
}

/* Carte produit */
.product-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

/* Image uniforme */
.product-image {
  height: 180px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

/* Contenu flexible */
.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Textes */
.product-title {
  font-size: .8rem;
  font-weight: 600;
  margin: 0;
}

.product-code {
  font-size: 0.85rem;
  color: #757575;
  margin-top: 4px;
}

.product-price {
  font-size: 1.1rem;
  font-weight: 700;
  color: #2e7d32;
  margin-top: 0px;
}

/* Actions */
.card-actions {
  padding: 12px 16px;
  margin-top: auto;
}

/* Effet hover */
.product-card {
  width: 100%;       /* obligatoire pour que la carte remplisse la cellule */
  display: flex;
  flex-direction: column;
}

mat-grid-tile {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

mat-grid-tile > mat-card {
  width: 100%;
  height: 100%;
}